[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/addons/blobifier.cfg]
[include mmu/addons/mmu_erec_cutter.cfg]
[include mainsail.cfg]
[include canbus EBB.cfg]
#[include KAMP_Settings.cfg]
[include eddy.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_1B003E000C51323433323831-if00

[virtual_sdcard]
path: /home/laforge/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[stepper_x]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:400
endstop_pin: EBB:gpio13
position_endstop: 315
position_min = -35
position_max: 315
homing_speed: 110

[stepper_y]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:400
endstop_pin: PC3
position_endstop: -5
position_min = -5
position_max: 325
homing_speed: 110

[stepper_z]
step_pin: PE2
dir_pin: PE3
enable_pin: !PE0
microsteps: 32
rotation_distance: 4
#endstop_pin: !P1.27
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 330
homing_speed: 15

[stepper_z1]
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
microsteps: 32
rotation_distance: 4

[extruder]
step_pin: EBB:gpio18
dir_pin: EBB:gpio19
enable_pin: !EBB:gpio17
microsteps: 32
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:gpio7
pullup_resistor: 2200 # 2.2K
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBB:gpio26
control: pid
pid_Kp: 23.167
pid_Ki: 1.207
pid_Kd: 111.2
min_extrude_temp: 10
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500.0
pressure_advance = 0.05
max_extrude_cross_section: 5

[heater_bed]
heater_pin: PD7
sensor_type: Generic 3950
sensor_pin: PA1
control: watermark
min_temp: 0
max_temp: 130

#[fan]
#pin: PB7

[controller_fan my_controller_fan]
pin: PB3
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
fan_speed: 0.5
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
idle_timeout: 10
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater:
stepper: stepper_x
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.


#[heater_fan fan1]
#pin: PB6

#[heater_fan fan2]
#pin: PB5

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 5800
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5.0

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 1.18
interpolate: true
#hold_current: 0.500
sense_resistor: 0.110

[tmc2209 stepper_y]
uart_pin: PD0
run_current: 1.18
interpolate: true
#hold_current: 0.500
sense_resistor: 0.110

[tmc2209 stepper_z]
uart_pin: PE1
run_current: 1.06
interpolate: true

[tmc2209 stepper_z1]
uart_pin: PC6
run_current: 1.06
interpolate: true

###############################################
##  Probing/Mesh
###############################################


[pause_resume]
recover_velocity: 150 

#####################################################################
# 	Macros
#####################################################################
# Enable arcs support
[gcode_arcs]
resolution: 0.1

[force_move]
enable_force_move: True

[gcode_macro CALIBRATION_Z]
gcode:
    PROBE_CALIBRATE 

[gcode_macro START_PRINT]
gcode:
	{% set BED_TEMP=params.BED_TEMP|default(60)|float %}
	{% set EXTRUDER_TEMP=params.EXTRUDER_TEMP|default(190)|float %}
    	
	# Preheat the bed
	M140 S{BED_TEMP}
    M104 S{EXTRUDER_TEMP}
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}
   
    MMU_START_SETUP

    # Home the printer
	G90
	G28
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    #LINE_PURGE
    #Purge RM
    
[gcode_macro print_end]
gcode:
    G91 ;Position relative
    G92 E0 ; reset extrusion distance
#    G1 E-5 F800
    G92 E0 ; reset extrusion distance
    G1 Z+20 F300 ; relevement de la tete de 20mm
    G90 ; position absolue
    G1 Y320 X0 F6600
    M107
    M104 S0 T1
    M104 S0 T0
    M140 S0

    MMU_END

[gcode_macro STOP_CHAUFFE]
gcode:
    M104 S0
    M140 S0


#[gcode_macro CHARGE]
gcode:
    G28 X Y 
    M104 S215
    M109 S215
    G91
    G92
    G1 E 120 F300 
    G1 E 40 F150
    G92
    G90

#[gcode_macro DECHARGE]
gcode:
    G28 X Y 
    M104 S215
    M109 S215
    G91
    G92
    G1 E 30 F300
    G1 E -270 F800
    G92
    G90

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 10.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 320.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 0.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 0.0   ; the value to retract while PAUSE
variable_cancel_retract   : 0.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 60.0  ; retract speed in mm/s
variable_unretract        : 0.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 150.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "MMU__EJECT"    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

# printer.cfg

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 18
#*# calibrate =
#*# 	0.050000:3191487.014,0.090000:3190909.814,0.130000:3190361.069,
#*# 	0.170000:3189780.849,0.210000:3189250.933,0.250000:3188725.512,
#*# 	0.290000:3188217.042,0.330000:3187695.759,0.370000:3187210.672,
#*# 	0.410000:3186713.922,0.450000:3186229.633,0.490000:3185758.917,
#*# 	0.530000:3185294.265,0.570000:3184849.467,0.610000:3184393.709,
#*# 	0.650000:3183954.870,0.690000:3183517.706,0.730000:3183087.509,
#*# 	0.770000:3182679.634,0.810000:3182276.251,0.850000:3181846.306,
#*# 	0.890000:3181472.810,0.930000:3181085.549,0.970000:3180720.220,
#*# 	1.010000:3180346.910,1.050000:3179981.690,1.090000:3179626.485,
#*# 	1.130000:3179277.290,1.170000:3178933.378,1.210000:3178605.475,
#*# 	1.250000:3178261.666,1.290000:3177937.403,1.330000:3177612.068,
#*# 	1.370000:3177302.161,1.410000:3176987.380,1.450000:3176697.008,
#*# 	1.490000:3176395.955,1.530000:3176091.975,1.570000:3175789.667,
#*# 	1.610000:3175508.561,1.650000:3175233.522,1.690000:3174952.634,
#*# 	1.730000:3174681.691,1.770000:3174405.247,1.810000:3174155.322,
#*# 	1.850000:3173896.693,1.890000:3173633.705,1.930000:3173388.576,
#*# 	1.970000:3173139.608,2.010000:3172924.891,2.050000:3172666.142,
#*# 	2.090000:3172446.657,2.130000:3172219.793,2.170000:3171961.389,
#*# 	2.210000:3171764.163,2.250000:3171540.444,2.290000:3171340.007,
#*# 	2.330000:3171094.313,2.370000:3170888.465,2.410000:3170675.071,
#*# 	2.450000:3170481.927,2.490000:3170266.074,2.530000:3170066.078,
#*# 	2.570000:3169891.007,2.610000:3169686.835,2.650000:3169486.566,
#*# 	2.690000:3169313.662,2.730000:3169133.093,2.770000:3168934.627,
#*# 	2.810000:3168774.059,2.850000:3168590.621,2.890000:3168400.895,
#*# 	2.930000:3168229.226,2.970000:3168092.176,3.010000:3167896.668,
#*# 	3.050000:3167715.372,3.090000:3167567.221,3.130000:3167396.337,
#*# 	3.170000:3167239.063,3.210000:3167079.512,3.250000:3166921.171,
#*# 	3.290000:3166788.041,3.330000:3166629.340,3.370000:3166512.426,
#*# 	3.410000:3166350.183,3.450000:3166196.998,3.490000:3166059.926,
#*# 	3.530000:3165930.584,3.570000:3165788.412,3.610000:3165656.870,
#*# 	3.650000:3165515.406,3.690000:3165405.852,3.730000:3165276.087,
#*# 	3.770000:3165137.705,3.810000:3165011.451,3.850000:3164895.501,
#*# 	3.890000:3164772.961,3.930000:3164639.513,3.970000:3164543.703,
#*# 	4.010000:3164446.859,4.050000:3164328.588
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 33.972858
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.363633, 0.286659, 0.244299, 0.151202, 0.114302, 0.094833, 0.121608, 0.129725, 0.191226
#*# 	  0.302097, 0.220842, 0.156184, 0.072852, 0.052759, 0.033112, 0.055086, 0.068885, 0.120488
#*# 	  0.196183, 0.121571, 0.085060, 0.007003, -0.003601, -0.022998, -0.011958, -0.015455, 0.049859
#*# 	  0.141554, 0.071232, 0.039978, -0.017972, -0.010700, -0.023981, -0.005116, -0.022179, 0.031070
#*# 	  0.138387, 0.064967, 0.050143, -0.010700, -0.003601, -0.025239, -0.025240, -0.033492, 0.001271
#*# 	  0.168817, 0.103087, 0.083176, 0.033681, 0.041118, 0.027881, 0.036295, 0.003640, 0.013390
#*# 	  0.241945, 0.172863, 0.144995, 0.083176, 0.082888, 0.061049, 0.062352, 0.038910, 0.056393
#*# 	  0.344931, 0.265891, 0.233445, 0.162527, 0.152737, 0.124202, 0.133165, 0.103375, 0.134675
#*# 	  0.462528, 0.397921, 0.350481, 0.268120, 0.265373, 0.222378, 0.228889, 0.212247, 0.236977
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 280.0
#*# min_y = 20.0
#*# max_y = 280.0
