[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/addons/blobifier.cfg]
[include mmu/addons/mmu_erec_cutter.cfg]
[include mainsail.cfg]
[include canbus EBB.cfg]
#[include KAMP_Settings.cfg]
[include eddy.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_1B003E000C51323433323831-if00

[virtual_sdcard]
path: /home/laforge/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[stepper_x]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:400
endstop_pin: EBB:gpio13
position_endstop: 315
position_min = -35
position_max: 315
homing_speed: 110

[stepper_y]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:400
endstop_pin: PC3
position_endstop: -5
position_min = -5
position_max: 325
homing_speed: 110

[stepper_z]
step_pin: PE2
dir_pin: PE3
enable_pin: !PE0
microsteps: 32
rotation_distance: 4
#endstop_pin: !P1.27
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 330
homing_speed: 15

[stepper_z1]
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
microsteps: 32
rotation_distance: 4

[extruder]
step_pin: EBB:gpio18
dir_pin: EBB:gpio19
enable_pin: !EBB:gpio17
microsteps: 32
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:gpio7
pullup_resistor: 2200 # 2.2K
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBB:gpio26
control: pid
pid_Kp: 23.167
pid_Ki: 1.207
pid_Kd: 111.2
min_extrude_temp: 10
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500.0
pressure_advance = 0.05
max_extrude_cross_section: 5

[heater_bed]
heater_pin: PD7
sensor_type: Generic 3950
sensor_pin: PA1
control: watermark
min_temp: 0
max_temp: 130

#[fan]
#pin: PB7

[controller_fan my_controller_fan]
pin: PB3
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
fan_speed: 0.5
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
idle_timeout: 10
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater:
stepper: stepper_x
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.


#[heater_fan fan1]
#pin: PB6

#[heater_fan fan2]
#pin: PB5

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 5800
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5.0

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 1.18
interpolate: true
#hold_current: 0.500
sense_resistor: 0.110

[tmc2209 stepper_y]
uart_pin: PD0
run_current: 1.18
interpolate: true
#hold_current: 0.500
sense_resistor: 0.110

[tmc2209 stepper_z]
uart_pin: PE1
run_current: 1.06
interpolate: true

[tmc2209 stepper_z1]
uart_pin: PC6
run_current: 1.06
interpolate: true

###############################################
##  Probing/Mesh
###############################################


[pause_resume]
recover_velocity: 150 

#####################################################################
# 	Macros
#####################################################################
# Enable arcs support
[gcode_arcs]
resolution: 0.1

[force_move]
enable_force_move: True

[gcode_macro CALIBRATION_Z]
gcode:
    PROBE_CALIBRATE 

[gcode_macro START_PRINT]
gcode:
	{% set BED_TEMP=params.BED_TEMP|default(60)|float %}
	{% set EXTRUDER_TEMP=params.EXTRUDER_TEMP|default(190)|float %}
    	
	# Preheat the bed
	M140 S{BED_TEMP}
    M104 S{EXTRUDER_TEMP}
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}
   
    MMU_START_SETUP

    # Home the printer
	G90
	G28
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1
    #LINE_PURGE
    #Purge RM
    
[gcode_macro print_end]
gcode:
    G91 ;Position relative
    G92 E0 ; reset extrusion distance
#    G1 E-5 F800
    G92 E0 ; reset extrusion distance
    G1 Z+20 F300 ; relevement de la tete de 20mm
    G90 ; position absolue
    G1 Y320 X0 F6600
    M107
    M104 S0 T1
    M104 S0 T0
    M140 S0

    MMU_END

[gcode_macro STOP_CHAUFFE]
gcode:
    M104 S0
    M140 S0


#[gcode_macro CHARGE]
gcode:
    G28 X Y 
    M104 S215
    M109 S215
    G91
    G92
    G1 E 120 F300 
    G1 E 40 F150
    G92
    G90

#[gcode_macro DECHARGE]
gcode:
    G28 X Y 
    M104 S215
    M109 S215
    G91
    G92
    G1 E 30 F300
    G1 E -270 F800
    G92
    G90

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 10.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 320.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 0.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 0.0   ; the value to retract while PAUSE
variable_cancel_retract   : 0.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 60.0  ; retract speed in mm/s
variable_unretract        : 0.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 150.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "MMU__EJECT"    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

# printer.cfg

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 18
#*# calibrate =
#*# 	0.050000:3201626.460,0.090000:3200924.426,0.130000:3200243.086,
#*# 	0.170000:3199550.913,0.210000:3198903.340,0.250000:3198258.972,
#*# 	0.290000:3197625.436,0.330000:3196985.029,0.370000:3196376.456,
#*# 	0.410000:3195786.240,0.450000:3195176.811,0.490000:3194578.017,
#*# 	0.530000:3194000.328,0.570000:3193446.243,0.610000:3192872.496,
#*# 	0.650000:3192324.320,0.690000:3191777.798,0.730000:3191264.625,
#*# 	0.770000:3190745.387,0.810000:3190230.635,0.850000:3189711.586,
#*# 	0.890000:3189241.651,0.930000:3188760.944,0.970000:3188284.805,
#*# 	1.010000:3187816.234,1.050000:3187358.446,1.090000:3186885.828,
#*# 	1.130000:3186462.339,1.170000:3185996.477,1.210000:3185576.765,
#*# 	1.250000:3185166.899,1.290000:3184756.592,1.330000:3184359.868,
#*# 	1.370000:3183946.738,1.410000:3183542.812,1.450000:3183165.200,
#*# 	1.490000:3182796.577,1.530000:3182434.373,1.570000:3182056.555,
#*# 	1.610000:3181703.140,1.650000:3181355.524,1.690000:3181009.270,
#*# 	1.730000:3180638.891,1.770000:3180304.769,1.810000:3179976.259,
#*# 	1.850000:3179662.492,1.890000:3179317.008,1.930000:3179024.661,
#*# 	1.970000:3178690.038,2.010000:3178378.823,2.050000:3178094.739,
#*# 	2.090000:3177804.448,2.130000:3177505.713,2.170000:3177214.898,
#*# 	2.210000:3176933.704,2.250000:3176642.241,2.290000:3176376.082,
#*# 	2.330000:3176102.818,2.370000:3175825.685,2.410000:3175585.464,
#*# 	2.450000:3175338.734,2.490000:3175084.645,2.530000:3174842.153,
#*# 	2.570000:3174574.896,2.610000:3174312.776,2.650000:3174076.170,
#*# 	2.690000:3173846.127,2.730000:3173625.680,2.770000:3173376.985,
#*# 	2.810000:3173145.191,2.850000:3172918.369,2.890000:3172707.176,
#*# 	2.930000:3172511.755,2.970000:3172265.146,3.010000:3172059.521,
#*# 	3.050000:3171859.819,3.090000:3171653.885,3.130000:3171448.397,
#*# 	3.170000:3171262.441,3.210000:3171061.649,3.250000:3170879.077,
#*# 	3.290000:3170688.046,3.330000:3170502.337,3.370000:3170321.854,
#*# 	3.410000:3170141.197,3.450000:3169968.027,3.490000:3169790.717,
#*# 	3.530000:3169611.685,3.570000:3169452.617,3.610000:3169304.678,
#*# 	3.650000:3169123.015,3.690000:3168954.579,3.730000:3168814.173,
#*# 	3.770000:3168662.817,3.810000:3168495.026,3.850000:3168352.967,
#*# 	3.890000:3168212.719,3.930000:3168083.280,3.970000:3167916.592,
#*# 	4.010000:3167768.812,4.050000:3167648.771
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 42.087051
#*# drift_calibration =
#*# 	3210168.832812, -458.442524, 4.768417
#*# 	3196795.253140, -202.865609, 2.140990
#*# 	3186438.612635, -11.915769, 0.134330
#*# 	3178609.673979, 120.993575, -1.273809
#*# 	3172332.660193, 226.827026, -2.428598
#*# 	3167644.030445, 290.325878, -3.105796
#*# 	3163480.573428, 358.259842, -3.863267
#*# 	3160073.364281, 413.096025, -4.474417
#*# 	3157207.392821, 462.776443, -5.034796
#*# drift_calibration_min_temp = 24.137051297164874
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.257853, 0.171816, 0.069095, 0.054687, 0.086729
#*# 	  0.106760, 0.038684, -0.025746, -0.028295, -0.008970
#*# 	  0.069204, 0.041632, 0.003269, -0.000827, -0.044744
#*# 	  0.165700, 0.118010, 0.068305, 0.038448, -0.003932
#*# 	  0.323231, 0.261857, 0.162006, 0.124418, 0.117583
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 280.0
#*# min_y = 20.0
#*# max_y = 280.0
